# env file for systemd
GENESIS_FIELDAPP_VERSION="0.1.619"
GENESIS_BLOCKCHAIN_CREATECONTRACTONFIRSTRUN="false"
GENESIS_BLOCKCHAIN_FLUSHPENDINGINTERVAL="24"
FONTAWESOME_TOKEN_DEFAULT="aa-bb-cc-dd-fillme"
GENESIS_API_ADDR=":8081"
GENESIS_API_BLOBBASEURL="/api/files/"
GENESIS_API_CONSUMERHOST="https://consumer.gn.staging.latitude28.cn"
GENESIS_API_ADMINHOST="https://admin.gn.staging.latitude28.cn"
GENESIS_BLOCKCHAIN_ETHEREUMHOST="http://localhost:8545"
GENESIS_BLOCKCHAIN_ETHERSCANHOST="https://rinkeby.etherscan.io"
GENESIS_BLOCKCHAIN_PRIVATEKEYBYTES="abcdefg-fillme"
GENESIS_BLOCKCHAIN_PRIVATEKEYPASSWORD="aaa-bbb-ccc-fillme"
GENESIS_BLOCKCHAIN_TESTPRIVATEKEY=""
GENESIS_DATABASE_HOST="localhost"
GENESIS_DATABASE_NAME="genesis"
GENESIS_DATABASE_PASS="dev"
GENESIS_DATABASE_PORT="5432"
GENESIS_DATABASE_USER="genesis"
GENESIS_EMAIL_APIKEY="SAMPLE-fillme"
GENESIS_EMAIL_DOMAIN="njs.dev"
GENESIS_EMAIL_SENDER="Ninja Software <noreply@njs.dev>"
GENESIS_LOADBALANCER_ADMINADDR=":8080"
GENESIS_LOADBALANCER_ADMININDEXFILE="admin.html"
GENESIS_LOADBALANCER_ADMINROOTPATH="/web"
GENESIS_LOADBALANCER_CONSUMERADDR=":8082"
GENESIS_LOADBALANCER_CONSUMERINDEXFILE="consumer.html"
GENESIS_LOADBALANCER_CONSUMERROOTPATH="/web"
GENESIS_SKIP_USERVERIFICATION="true"
GENESIS_SMS_ENABLED="false"
GENESIS_SMS_SID=""
GENESIS_SMS_TOKEN=""
GENESIS_USERAUTH_BLACKLISTREFRESHHOURS="1"
GENESIS_USERAUTH_JWTSECRET="aaa-fillme"
GENESIS_USERAUTH_RESETTOKENEXPIRYDAYS="1"
GENESIS_USERAUTH_TOKENEXPIRYDAYS="30"
